<h2>Create a new Celebrity</h2>
<h5>(Not kim kardashon or whatever pls)</h5>
<form method="POST" action="/celebrities/create">
    <label>
        Celebrity Name:
        <input type="text" name="name" value="Celebrity Name">
    </label>

    <label>
        Celebrity's occupation:
        <input type="text" name="occupation" value="Celebrity's occupation">
    </label>

    <label>
        Celebrity's Catch Phrase:
        <input type="text" name="catchPhrase" value="Celebrity's Catch Phrase">
    </label>

    <button type="submit">Create celebrity!</button>
</form>