<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="http://localhost:3000/celebrities/create">Create a celebrity!</a>
<a href="http://localhost:3000/celebrities ">Celebrities</a>
<a href="http://localhost:3000/movies ">Movies</a>
<a href="http://localhost:3000/movies/create ">Create a movie!</a>